@import url(//fonts.googleapis.com/css?family=Roboto&subset=latin,latin-ext);

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  color: #424242;
}
h1 {
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 30px;
}
button {
  font-family: inherit;
  font-size: 14px;
  margin: 20px auto 0;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  border: none;
  padding: 6px 8px;
  text-transform: uppercase;
  background: #e3e3e3;
  color: black;
  outline: none;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: block;
}
button[disabled] {
  background-color: #d8d8d8 !important;
  color: #a0a0a0 !important;
}
button:active {
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.19), 0 6px 3px 0 rgba(0, 0, 0, 0.23);
}
button:not(:disabled) {
  cursor: pointer;
}
input[type="text"] {
  outline: none;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: none;
}
select {
  font-family: inherit;
  border: none;
  outline: none;
  background: white;
}
select:focus option:checked, select option:hover {
  background: linear-gradient(#000000, #000000);
  color: #bbb;
}
select option {
  border-bottom: 1px solid #d2d2d2;
  padding: 8px 6px;
  outline: none;
}
select option:checked {
  background: linear-gradient(#f0f0f0, #f0f0f0);
}
.widgets {
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
}
.form {
  overflow: hidden;
}
.badge, .pirates {
  border-radius: 2px;
  font-size: 19px;
  width: 14em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.24);
}
.badge {
  background: #f44336;
  height: 7em;
}
.pirates {
  background: #2196f3;
}
.greeting {
  color: white;
  padding: 0.5em;
  font-size: 20px;
}
.name {
  color: black;
  background: white;
  font-family: "Marker Felt", cursive;
  font-size: 30px;
  padding: 1em 0;
  height: 16px;
}
#pirateList {
  width: 100%;
  height: 14em;
}
#generateButton {
  margin-bottom: 100px;
}
#storeButton {
  background: #2196f3;
  color: white;
}
#storeButton:hover {
  background: #1e88e5;
}
#storeButton:active {
  background: #1976d2;
}
#killButton {
  background: black;
  color: white;
}
#killButton:hover,
#killButton:active {
  background: #212121;
}
#inputName {
  margin: 30px 0 0;
  width: 14em;
  padding: 5px 0;
}
#inputName + span {
  display: block;
  width: 10px;
  height: 2px;
  background: #2196f3;
  position: relative;
  top: -2px;
  left: 50%;
  visibility: hidden;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
#inputName:focus + span {
  width: 100%;
  left: 0;
  visibility: visible;
}
div::selection, button::selection {
  background: none;
}
div::-moz-selection, button::-moz-selection {
    background: none;
}
@media all and (max-width: 600px) {
  #generateButton {
    margin-bottom: 0;
  }
}
@media all and (max-width: 560px) {
  h1 {
    text-align: center;
  }
  .form {
    width: 16em;
    margin: 0 auto;
  }
  .widgets, .badge, .pirates, button, #inputName {
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  #inputName {
    width: 100%;
  }
  .widgets {
    margin-bottom: 50px;
    padding-bottom: 0;
  }
}
/* This is needed for proper ripple effect on buttons */
button {
  position: relative;
  overflow: hidden;
}
button .ripple {
  position: absolute;
  display: block;
  border-radius: 100%;
  width: 0;
  height: 0;
  pointer-events: none;
  background: rgba(0, 0, 0, .2);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
button .ripple.show {
  -webkit-animation: ripple .3s ease-in;
  animation: ripple .3s ease-in;
}
#storeButton .ripple,
#killButton .ripple {
  background: rgba(255, 255, 255, .2);
}
@-webkit-keyframes ripple {
    from {
      width: 0;
    }
    to {
      width: 200%;
      padding-top: 200%;
    }
}
@keyframes ripple {
    from {
      width: 0;
    }
    to {
      width: 200%;
      padding-top: 200%;
    }
}
