.DS_Store
packages
out
build
.buildlog
.pub
.idea
.packages
.swp

/**/bazel-bin
/**/bazel-captains_log*
/**/bazel-genfiles
/**/bazel-out
/**/bazel-testlogs
/**/.bazelify
/**/BUILD
/**/WORKSPACE
/**/packages.bzl

