:host {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 15px;
}

:host h1, h2 {
  font-weight: 500;
}

.clear-floats {
  clear: both;
}

.scores-component {
  margin-top: 4em;
}

.days {
  padding-top: 1em;
}

.days__start-day {
  float: left;
}

.days__end-day {
  float: right;
  text-align: right;
}

.life-progress {
  margin: 1em 0;
}

.controls__fabs {
  float: left;
}

.controls__faster-button {
  float: right;
}

.history {
  padding-top: 2em;
}

.history__stats {
  float: left;
}

.history__vis {
  float: right;
}

#play-button {
  color: white;
  background: #F44336;
}

#play-button.is-disabled {
  background: #EF9A9A;
}
